.fifth_slide {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: $background-color;
    .menu {
        position: absolute;
        padding: 20px;
        top: 0;
        left: 0;
    }
    .links {
        position: absolute;
        bottom: 0;
        left: 0;
        @extend %links;
    }
    .content {
        padding: 100px 50px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        &_additional {
            z-index: 0;
            .one {
                width: 850px;
                height: 250px;
                border: 1px solid #232323;
                z-index: 0;
                position: absolute;
                top: 0;
                left: 0;
            }
            .two {
                width: 950px;
                height: 250px;
                border: 1px solid #232323;
                z-index: 0;
                position: absolute;
                bottom: 0;
                right: 0;
            }
            .three {
                width: 950px;
                height: 250px;
                border: 1px solid #232323;
                z-index: 0;
                position: absolute;
                top: 0;
                right: 0;
            }
            .four {
                width: 250px;
                height: 550px;
                border: 1px solid #232323;
                z-index: 0;
                position: absolute;
                bottom: 0;
                left: 0;
            }
        }
        &_title {
            margin-bottom: 20px;
            z-index: 1;
            h1 {
                @extend %header;
            }
        }
        &_stages {
            display: flex;
            justify-content: space-between;
            width: 1780px;
            .frame {
                padding: 20px;
                border: 1px solid $second-color;
            }
            &_interview,
            &_develop,
            &_code {
                position: relative;
                align-items: center;
                display: flex;
                justify-content: center;
                .blackout {
                    position: absolute;
                    background-color: rgba($color: #000000, $alpha: 0.75);
                    width: 513px;
                    height: 612px;
                    transition: .3s;
                }
                .blackout:hover {
                    background-color: transparent;
                    transition: .3s;
                    cursor: pointer;
                }
                p {
                    position: absolute;
                    background-color: transparent;
                    top: 50%;
                    @extend %header_two;
                }
            }
        }
    }
}